body{
    padding: 10px;
}
#say-hello  {
    visibility: hidden;
    margin-top: 40px;
    border-radius: 10px;
    background-color: beige;
    color:cornflowerblue;
    border: 1px solid gray;
    padding:10px;
    width:100px;
    text-align: center;
}

label{
    font-weight: bolder;
}

#myInput{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:8px;
    width:30%;
    box-shadow: 5px 5px 5px black;
}