.form-group{
    padding: 10px;
}
#say-hello  {
    visibility: hidden;
    margin-top: 40px;
    border-radius: 10px;
    background-color: beige;
    color:cornflowerblue;
    border: 1px solid gray;
    padding:10px;
    margin-left: 10px;
    width:150px;
    text-align: center;
}

label{
    font-weight: bolder;
}

#myInput{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:8px;
    width:30%;
    box-shadow: 3px 3px 3px black;
}